<div>

  <form  [formGroup]="userForm" (ngSubmit)="onUserFormSubmit()"class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>

    <label for="username" class="sr-only">Username</label>
    <input type="text"  id="username" class="form-control" formControlName="username" placeholder="User Name" required autofocus>

    <label for="phone" class="sr-only">Phone Number</label>
    <input type="number" id="phone" class="form-control" formControlName="phone" placeholder="Phone Number" required autofocus>

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" formControlName="password" placeholder="Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <button
      class="btn-lg menu-button btn-block"
      (click)="onClickSignIn()"
    >Sign in</button>
  </form>

</div> <!-- /container -->
